header {
  border-bottom: 0;
  background: rgb(24,13,81);
  background: -moz-linear-gradient(left, rgba(24,13,81,1) 1%, rgba(65,17,92,1) 36%, rgba(92,19,99,1) 48%, rgba(111,21,104,1) 59%, rgba(154,25,115,1) 72%, rgba(195,28,126,1) 100%);
  background: -webkit-linear-gradient(left, rgba(24,13,81,1) 1%, rgba(65,17,92,1) 36%, rgba(92,19,99,1) 48%, rgba(111,21,104,1) 59%, rgba(154,25,115,1) 72%, rgba(195,28,126,1) 100%);
  background: linear-gradient(to right, rgba(24,13,81,1) 1%, rgba(65,17,92,1) 36%, rgba(92,19,99,1) 48%, rgba(111,21,104,1) 59%, rgba(154,25,115,1) 72%, rgba(195,28,126,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#180d51', endColorstr='#c31c7e', GradientType=1);
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand a.site-title {
  color: #b4c2d0;
}

#edit-revision-information-heading {
  display:none;
}

.path-views-bulk-operations .form-item-node-job-instance--field-selector-title, .path-views-bulk-operations .form-item-node-job-instance--field-selector-uid, .path-views-bulk-operations .form-item-node-job-instance--field-selector-created, .path-views-bulk-operations .form-item-node-job-instance--field-selector-promote, .path-views-bulk-operations .form-item-node-job-instance--field-selector-sticky, .path-views-bulk-operations .form-item-node-job-instance--field-selector-path, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-day-at-shul, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-assigned-to, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-job-or-reading, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-share-honor-with, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-delegate-honor-to, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-more-detail {
  display:none;
}

.view-upcoming-jobs .share-honor-with {
  color:blue;
}

.view-upcoming-jobs .delegated {
  color:green;
}

.view-upcoming-jobs .hebrewname {
  color:purple;
}

.view-upcoming-jobs .moreinfo {
  font-style:italic;
}
.navbar-nav .nav-link {
  color:#ffffff;
}
/* hide link to admin version of upcoming-jobs for non staff-admins */
.adminrewritelink, .adminrewritelinkblock {
  display:none;
}
.role-staff_admin .adminrewritelink {
  display:inline;
}
.role-staff_admin .adminrewritelinkblock {
  display:block;
}
