.path-views-bulk-operations .form-item-node-job-instance--field-selector-title, .path-views-bulk-operations .form-item-node-job-instance--field-selector-uid, .path-views-bulk-operations .form-item-node-job-instance--field-selector-created, .path-views-bulk-operations .form-item-node-job-instance--field-selector-promote, .path-views-bulk-operations .form-item-node-job-instance--field-selector-sticky, .path-views-bulk-operations .form-item-node-job-instance--field-selector-path, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-day-at-shul, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-assigned-to, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-job-or-reading, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-share-honor-with, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-delegate-honor-to, .path-views-bulk-operations .form-item-node-job-instance--field-selector-field-more-detail {
  display: none;
}
.path-views-bulk-operations #edit-node-job-instance-revision-information {
  display:none;
}
/* In print jobs view make the row border lines darker */
.view-day-at-shul-seder tr {
  border-bottom-color: #c6c2b7;
}

/* in print jobs view make the grouping taxonomy terms bold */
.view-day-at-shul-seder caption {
  font-weight: bold;
  color: black;
}

.view-day-at-shul-seder table {
  width: 7in;
}

.view-day-at-shul-seder .views-field-title {
  width: 3.65in;
}

.view-day-at-shul-seder td, .view-day-at-shul-seder th {
  padding: 3px;
}

.view-day-at-shul-seder.view-display-id-attachment_two .views-field-field-notes {
  width: 4.2in;
}
.view-day-at-shul-seder .share-honor-with, .view-upcoming-jobs .share-honor-with {
  color:blue;
}

 .view-day-at-shul-seder .delegated, .view-upcoming-jobs .delegated {
  color:green;
}

.view-upcoming-jobs .hebrewname {
  color:purple;
}

.view-upcoming-jobs .moreinfo {
  font-style:italic; 
}

/* table column widths for upcoming-jobs Staff admin display */
 .view-upcoming-jobs.view-display-id-page_3 table {
  width: 1199px;
}
.view-upcoming-jobs.view-display-id-page_3 .views-field-field-show-hide-from-members {
  width: 80px;
}
.view-upcoming-jobs.view-display-id-page_3  td.views-field-edit-node {
  width: 20px;
}
 .view-upcoming-jobs.view-display-id-page_3 .views-field-title {
  width: 325px;
}
.view-upcoming-jobs.view-display-id-page_3 .views-field-field-assigned-to-1 {
  width: 279px;
}

/* .view-upcoming-jobs.view-display-id-page_3 td.views-field-field-more-detail  {
  width: 346px;
} */
.view-upcoming-jobs.view-display-id-page_3 caption {
  font-weight: bold;
  color: black;
  font-size: larger;
  padding-top: 10px;
}

/* 2022-02-18 */
header #block-headerblockkluge + .layout-container #block-stafflinks-2 {
  display:none;
}

